<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Olá, Amigo!</title>
</head>
<body>
    <h1>hello, friend! :)</h1>
    <h1>this is a webserver running in an EC2 instance: {{ ansible_hostname }}</h1>
    <h4>powered by {{ cloud_provider }}</h4>
    
    <img src="devops-process.png">
</body>
</html>
